.showDish{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: hsla(210, 29%, 25%, 0.9);
    padding: 2rem 1rem;
    overflow: scroll;
    overflow-x: hidden;
    .container__dish{
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        & > *{
            width: 90%;
            margin:  0 auto;
        }
        .icon{
            
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            background: $light-grayish-blue;
            
            .btnHamburger {
                width: 20px;
                height: 3px;
                background: rgba(0, 0, 0, 0);
                position: absolute;
                top: 50%;
                right: 0;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
                transition: .5s;
                border-radius: 10px;
            }

            .btnHamburger::before,
            .btnHamburger::after {
                content: '';
                position: absolute;
                top: 0;
                width: 22px;
                height: 3px;
                background: $light-grayish-blue;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
                transition: .5s;
                border-radius: 10px;
            }

            .btnHamburger::before {
                transform: rotate(45deg);
            }

            .btnHamburger::after {
                transform: rotate(135deg);
            }
        }
        .container__img{
            width: 80%;
            margin: 0 auto 1rem auto;
            @include image();
            img{
                border-radius: 30px;
                box-shadow: 0 0 5px rgba(240, 240, 240, 0.8)
            }
            @media screen and(min-width:720px) {
                width: 50%;
            }
        }
        .name{
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $font-heading;
            font-weight: $font-w-heading-bold;
        }
        p{
            font-style: italic;
            text-decoration: underline;
        }
        .ingredients{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 90%;
            height: 250px;
            margin: 0 auto;
            list-style: none;
        }
    }
    
}