.containerMenu{
    margin: 0 auto;
    width: 80%;
    max-width: 320px;
    .category{
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        height: 2.5rem;
        background-color: $yellow-dark;
        color:white;
        font-family: $font-heading;
        font-weight: $font-w-heading-bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
        cursor: pointer;
    }
}
.dishes{
    .dish{
        background-color: rgba(255, 255, 255, 0.8); 
        width: 80%;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 1rem 0;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        .container__img{
            width: 80%;
            margin: 0 auto 1rem auto;
            @include image();
            img{
                border-radius: 30px;
                box-shadow: 0 0 5px rgba(240, 240, 240, 0.8)
            }
        }
        h3{
         background-color: $yellow-dark;

        }
    }
}