/*##Colors*/

/*###Primary*/

$red: hsl(0, 100%, 68%);
$red-dark:hsl(0, 100%, 62%);
$red-light:hsl(0, 100%, 72%);

/*### Neutral*/

$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

/*## Typography*/

/*### Body*/

$font-size: 20px;

/*### Font*/

/*### Headings, Call-to-actions, Header Navigation*/
$font-heading: 'Barlow Condensed', sans-serif;

$font-w-heading-bold:700;
$font-w-heading-normal:400;

/*### Body*/
$font-body: 'Barlow', sans-serif;

$font-w-body-normal:400;



