* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*##Colors*/
/*###Primary*/
/*### Neutral*/
/*## Typography*/
/*### Body*/
/*### Font*/
/*### Headings, Call-to-actions, Header Navigation*/
/*### Body*/
body {
  background-image: url(static/images/rect3780.png);
  background-color: #2e4052;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-width: 320px;
}

@media screen and (min-width: 720px) {
  body {
    background-image: url(static/images/background.png);
    background-size: cover;
  }
}

/*HEADER*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 1.6rem;
  /*NAVBAR*/
}

#header .title {
  width: auto;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#header #nav {
  width: 20%;
  /*ICON MENU*/
  /*MENU*/
}

#header #nav .icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: #eef3f6;
}

#header #nav .icon .hamburger {
  width: 20px;
  height: 3px;
  background: #eef3f6;
  position: absolute;
  top: 50%;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  border-radius: 10px;
}

#header #nav .icon .hamburger::before,
#header #nav .icon .hamburger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background: #eef3f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  border-radius: 10px;
}

#header #nav .icon .hamburger::before {
  top: -8px;
}

#header #nav .icon .hamburger::after {
  top: 8px;
}

@media screen and (min-width: 720px) {
  #header #nav .icon {
    display: none;
  }
}

#header #nav .icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

#header #nav .icon.active .hamburger::before {
  top: 0;
  width: 22px;
  transform: rotate(45deg);
}

#header #nav .icon.active .hamburger::after {
  top: 0;
  width: 22px;
  transform: rotate(135deg);
}

#header #nav .menu.menu__active {
  transform: translateY(0%);
}

#header #nav .menu {
  position: absolute;
  background-color: white;
  left: 10%;
  right: 10%;
  top: 12%;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.212);
  transition: all 1s ease;
  transform: translateY(-200%);
  max-width: 360px;
}

#header #nav .menu li {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#header #nav .menu li a {
  color: #2e4052;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
}

#header #nav .menu li a:hover {
  text-decoration: underline;
}

#header #nav .menu li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 720px) {
  #header #nav .menu {
    position: initial;
    transform: translateY(0%);
    display: flex;
    width: 100%;
    margin: 0;
    box-shadow: none;
    background: none;
  }
  #header #nav .menu li {
    margin: 0;
    margin-right: .5rem;
  }
  #header #nav .menu li a {
    color: white;
  }
}

@media screen and (min-width: 720px) {
  #header #nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
}

@media screen and (min-width: 720px) {
  #header {
    grid-area: header;
    padding: 2.2rem 6rem;
  }
}

.containerHome .main {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 0 2rem 0;
  height: 60vh;
  min-height: 380px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.containerHome .main .container__img img {
  width: 100%;
  height: auto;
  display: block;
}

.containerHome .main h1 {
  margin-top: 1rem;
  background-color: #ff8800;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.containerHome .main p {
  margin-top: .25rem;
  text-align: center;
  color: #2e4052;
}

.containerHome footer {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.containerHome footer a {
  color: #ff8800;
}

.containerMenu {
  margin: 0 auto;
  width: 80%;
  max-width: 320px;
}

.containerMenu .category {
  width: 100%;
  height: 2.5rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 400;
  color: white;
  background-color: #ff8800;
  text-transform: uppercase;
  border-radius: 15px;
  letter-spacing: 2px;
  border: none;
  box-shadow: none;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.containerMenu .category:hover {
  background: #ff941a;
  box-shadow: 2px 2.5px 2.5px rgba(0, 0, 0, 0.3);
}

.containerMenu .category:active {
  background: #e67a00;
  box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.3);
}

.dishes .dish {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 0;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dishes .dish .container__img {
  width: 80%;
  margin: 0 auto 1rem auto;
}

.dishes .dish .container__img img {
  width: 100%;
  height: auto;
  display: block;
}

.dishes .dish .container__img img {
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(240, 240, 240, 0.8);
}

.dishes .dish h3 {
  background-color: #ff8800;
}

.dishes .dish .button {
  width: 100%;
  height: 2.5rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  color: white;
  background-color: #ff8800;
  text-transform: uppercase;
  border-radius: 15px;
  letter-spacing: 2px;
  border: none;
  box-shadow: none;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  margin: .5rem auto;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
}

.dishes .dish .button:hover {
  background: #ff941a;
  box-shadow: 2px 2.5px 2.5px rgba(0, 0, 0, 0.3);
}

.dishes .dish .button:active {
  background: #e67a00;
  box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 720px) {
  .dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.containerContact .container__contact__info {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.containerContact .container__contact__info .container__logo {
  width: 50%;
  max-width: 200px;
  min-width: 150px;
}

.containerContact .container__contact__info .container__logo img {
  width: 100%;
  height: auto;
  display: block;
}

.containerContact .container__contact__info .contact__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.containerContact .container__contact__info .contact__info .container__icon {
  width: 5%;
  margin-right: 1rem;
  min-width: 21px;
}

.containerContact .container__contact__info .contact__info .container__icon img {
  width: 100%;
  height: auto;
  display: block;
}

.containerContact .container__contact__info .contact__info p {
  width: 90%;
}

.containerContact .social__media__icons {
  margin: 3rem auto;
  text-align: center;
}

.containerContact .social__media__icons > * {
  margin-right: .5rem;
  padding: .8rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  transition: all .25s ease;
  box-shadow: 0px 9px 16px #0101012a;
  font-size: 16px;
}

.containerContact .social__media__icons > * i {
  width: 16px;
  height: 16px;
}

.showDish {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(45, 64, 82, 0.9);
  padding: 2rem 1rem;
  overflow: scroll;
  overflow-x: hidden;
}

.showDish .container__dish {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.showDish .container__dish > * {
  width: 90%;
  margin: 0 auto;
}

.showDish .container__dish .icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: #eef3f6;
}

.showDish .container__dish .icon .btnHamburger {
  width: 20px;
  height: 3px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  border-radius: 10px;
}

.showDish .container__dish .icon .btnHamburger::before,
.showDish .container__dish .icon .btnHamburger::after {
  content: '';
  position: absolute;
  top: 0;
  width: 22px;
  height: 3px;
  background: #eef3f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  border-radius: 10px;
}

.showDish .container__dish .icon .btnHamburger::before {
  transform: rotate(45deg);
}

.showDish .container__dish .icon .btnHamburger::after {
  transform: rotate(135deg);
}

.showDish .container__dish .container__img {
  width: 80%;
  margin: 0 auto 1rem auto;
}

.showDish .container__dish .container__img img {
  width: 100%;
  height: auto;
  display: block;
}

.showDish .container__dish .container__img img {
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(240, 240, 240, 0.8);
}

.showDish .container__dish .name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

.showDish .container__dish p {
  font-style: italic;
  text-decoration: underline;
}

.showDish .container__dish .ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  list-style: none;
}

