body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(252, 32, 32);
    h1{
        background: orangered;
        color:white
    }
}

.containerMenu{
    background: salmon;
    height: 200px;
    width: 100%;
}
@import "./styles/variables";
@import "./styles/menu";
