@import "./styles/basic";
@import "./styles/variables";
@import "./styles/mixins";
body{
    background-image: url("static/images/rect3780.png");  
    background-color: $very-dark-blue;
    background-repeat: no-repeat;
    background-size: contain;  
    background-attachment: fixed;
    background-position: center center;
    color: white; 
    font-family: $font-body;
    font-size: $font-size;
    font-weight: $font-w-body-normal;
    h1{
        background: orangered;
        color:white
    }
}

@import "./styles/header";
@import "./styles/home";
@import "./styles/menu";
@import "./styles/contact"
